/*

!/data/.htaccess
!/data/static
!/languages
!/src
!/tests
!/templates
!/fonts
!/bootstrap.php
!/composer.json
!/composer.lock
!/nicemodules-core.php
!/phpunit.xml.dist
!/README.md
!/LICENCE.txt

!/css
!/js

!/_gulp
/_gulp/node_modules
