/*
!/data/
/data/*
!/data/static
!/data/.htaccess
!/languages
!/flags
!/src
!/tests
!/templates
!/fonts
!/bootstrap.php
!/composer.json
!/composer.lock
!/nicemodules-core.php
!/phpunit.xml.dist
!/README.md
!/LICENCE.txt

!/css
!/js

!/_gulp
/_gulp/node_modules
